/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/data/*
/storage/logs/*.log
/vendor

!public/storage/Default-Profile.png

.env
.env.backup
.phpunit.result.cache

Homestead.json
Homestead.yaml

npm-debug.log
yarn-error.log